*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
/* .sec1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, rgb(255, 136, 0), rgb(255, 81, 0));
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
}
nav a{
    text-decoration: none;
    color: #fff;
}
.cntr{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}
.main h1{
    text-align: center;
    font-size: 300px;
    position: absolute;
    color: #ffc894;
    margin-top: 10%;
}
#fanta{
    z-index: 1;
    width: 40%;
}
#leaf{
    position: absolute;
    top: 10%;
    width: 20%;
    left: 5%;
}


.sectwo{
    width: 100%;
    height: 100vh;
    background: rgb(141, 28, 9);
    display: flex;
    align-items: center;
}
.svg_img{
    width: 45%;
}
.svg_img svg{
    width: 80%;
    height: auto;
}
.Features{
    width: 55%;
    padding: 50px;
}
.Features h1{
    color: #ffc894;
    font-size: 100px;
}
.Features p{
    color: #ffc894;
}

.sec3{
    width: 100%;
    height: 100vh;
    background: rgb(141, 28, 9);
    display: flex;
    align-items: center;
} */
#main{
    width: 100%;
    height: auto;
    background: linear-gradient(100deg, rgb(255, 150, 30), rgb(255, 72, 0));
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: #fff;
}
.cntr{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sec1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        position: absolute;
    }
}
.sec1 h1{
    text-align: center;
    font-size: 300px;
    position: absolute;
    color: #ffdab7;
    margin-top: 0%;
}
#fanta{
    position: absolute;
    width: 35%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    z-index: 2;
}
#leaf{
    top: 0%;
    left: 0%;
    width: 20%;
    transform: rotate(50deg);
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#goli{
    position: absolute;
    width: 5%;
    margin-top: -27%;
    z-index: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#orange_slice{
    z-index: 10;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.sectwo{
    width: 100%;
    height: 100vh;
    background: rgb(141, 28, 9);
    display: flex;
    align-items: center;
}
.svg_img{
    width: 45%;
}
.svg_img svg{
    margin-top: 32%;
    width: 90%;
    height: auto;
}
.Features{
    width: 55%;
    padding: 50px;
}
.Features h1{
    color: #ffc894;
    font-size: 100px;
}
.Features p{
    color: #ffc894;
}


.sec3{
    width: 100%;
    height: 100vh;
    background: rgb(141, 28, 9);
    display: flex;
    align-items: center;
} 